.tasks {

  .page-heading {
    font-family: Montserrat;
    font-size: 21px;
    font-weight: bold;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #d8d8d8;
  }

  .empty-table {
    padding: 74px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}