.sidebar {
  height: 100%;

  .logo {
    width: 46px;
    height: 41px;
  }

  .sidebar-title {
    height: 70px;
  }

  .close {
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  .ui.vertical.menu {
    width: 100%;
  }


  .ui.secondary.vertical.menu>.item {
    font-size: 16px;
  }

   @media screen and (max-width: 480px) {
    .item-link {
      display: none !important;
    }

    .item-link-mobile {
      display: block !important;
    }
   }

   @media screen and (min-width: 480px) {

    .item-link {
      display: block !important;
    }

    .item-link-mobile {
      display: none !important;
    }
   }
}
