@charset "utf-8";

@import './_base/variables';
@import './_base/functions';
@import './utility/colors';
@import './utility/size';
@import './utility/spacing';

html,
body {
	margin: 0;
  padding: 0;
  height: inherit;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
}

:focus {
	outline: 0;
}

.hidden {
	display: none;
}
