@charset "utf-8";

@import './_base/variables';
@import './_base/functions';
@import './semantic-ui-overrides';
@import './auth0-overrides';

@import './utility/colors';
@import './utility/size';
@import './utility/spacing';
@import './utility/flex';
@import './utility/borders';
@import './utility/display';
@import './utility/text';

html,
body {
	margin: 0;
  padding: 0;
  height: inherit;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
}

#root, .app-container {
	height: 100%;
	height: 100vh;
	width: 100%;
}

:focus {
	outline: 0;
}

.hidden {
	display: none;
}
