@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import './_base/variables';
@import './_base/functions';
@import './semantic-ui-overrides';
@import './auth0-overrides';

@import './utility/colors';
@import './utility/size';
@import './utility/spacing';
@import './utility/flex';
@import './utility/borders';
@import './utility/display';
@import './utility/text';

html,
body {
	margin: 0;
  padding: 0;
  height: inherit;
}

body {
  font-size: 13px;
  font-family: Montserrat, sans-serif;
}

footer {
  margin-top: 20px;
  text-align: center;
}

#root, .app-container {
	height: 100%;
	height: 100vh;
	width: 100%;
}

:focus {
	outline: 0;
}

.hidden {
	display: none;
}

//TODO: Move it to the component when we create one
.ui.table {
  border: 0px;

  thead {
    th {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 13px;
      color: #515151;
      border-bottom: 2px solid #515151;
      background: transparent;
    }
  }

  tbody tr td a {
    font-family: Montserrat;
    font-size: 13px;
    color: #4a90e2;
  }

  tbody tr td i.android {
    color: #a4c639;
  }

  tbody tr td button {
    border-radius: 4px;
    border: solid 1px #9b9b9b;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    color: #9b9b9b;
    text-transform: uppercase;
    background: transparent;  
  }

  .red {
    color: #ff4949;
  }
}