/***********************************
Top-Level Globals
************************************/
h1, h2, h3, h4 {
  color: $gray;
  font-family: Montserrat, sans-serif;
}

hr {
  background-color: $panel-border-color;
  border: none;
  height: 1px;
}


.ui.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

/***********************************
Buttons
************************************/

.ui.button {
  background-color: $button-background-color;
  color: $white;
  text-align: center;

  &.secondary {
    background-color: $white;
    color: $blue-highlight;
    border: solid 1px $blue-highlight;
    border-radius: 4px;
  }

  &.tertiary {
    background-color: $white;
    color: $blue-dark;
    border: solid 1px $blue-dark;
    border-radius: 4px;
  }
}

/***********************************
Inputs
************************************/
.ui.form {
  margin-bottom: 1rem;
}

.ui.form .field {

  label {
    font-family: Montserrat;
    font-size: 11px;
    color: $button-background-color;
  }

  input, textarea {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: normal;
    color: $gray;
    border: 0;
    border-bottom: solid 1px $input-border-color;
    padding: 5px;
  }

  textarea {
    border: 1px solid $input-border-color;
  }
}

.ui.toggle.checkbox label:before {
  background-color: $checkbox-background-color;
}

/***********************************
Checkbox
************************************/

.ui.checkbox:not(.toggle) .box:before,
.ui.checkbox:not(.toggle) label:before {
  border-radius: 1px;
}

.ui.checkbox:not(.toggle) input:checked ~ .box:after,
.ui.checkbox:not(.toggle) input:checked ~ label:after {
    content: "";
    display: block;
    position: absolute;
    top: 0.5px;
    left: 0.5px;
    width: 10px;
    height: 5px;
    border: solid 2px $white;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}

.ui.checkbox:not(.toggle) input:checked ~ .box:before,
.ui.checkbox:not(.toggle) input:checked ~ label:before {
  background: $blue-highlight;
  border-color: $blue-highlight;
}

/***********************************
Checkbox indeterminate
************************************/

.ui.checkbox input:indeterminate ~ .box:after,
.ui.checkbox input:indeterminate ~ label:after {
    content: "";
    display: block;
    position: absolute;
    top: 3.5px;
    left: 0.5px;
    width: 10px;
    height: 0px;
    border: solid 2px $white;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px);
}

.ui.checkbox:not(.toggle) input:indeterminate ~ .box:before,
.ui.checkbox:not(.toggle) input:indeterminate ~ label:before {
  background: $blue-highlight;
  border-color: $blue-highlight;
}


/***********************************
Vertical Menu
************************************/

.ui.vertical.menu .active.item {
  background: $blue-highlight;
  color: white;
}

.ui.menu .active.item:hover,
.ui.vertical.menu .active.item:hover {
  background: lighten($blue-highlight, 5%);
  color: white;
}

.ui.menu.vertical {
  border: 1px solid $border-light-color;
  box-shadow: none;
  border-radius: 0;

  .item {
    padding-top: 17px;
    padding-bottom: 17px;
    color: $navigation-text;
    font-weight: bold;

    &:first-child, &:last-child,
    &.active:first-child, &.active:last-child {
      border-radius: 0;
    }
  }

  &.no-borders {
    border: none !important;

    .item {
      border: none !important;
    }
  }


  &.secondary {
    .item {
      // semantic UI uses !important....
      border-radius: 0 !important;
    }
  }
}


/***********************************
Dropdown Menu
************************************/
.ui.dropdown.mobile {
  background-color: $blue-highlight;
  color: $white;
  padding: 15px 10px;

  .text {
    font-size: 1.4rem;
    font-weight: bold;
  }

  i.dropdown.icon {
    font-size: 1.5rem;
  }
}

.ui.dropdown.custom {
  display: flex;

  .text {
    flex-grow: 1;
  }
}

/***********************************
Table
************************************/
.ui.table {
  color: $gray;

  tr td {
    border-top: 1px solid #d8d8d8;
  }

  tbody tr td a {
    font-weight: bold;
  }
}

/***********************************
Navbar Menu
************************************/
.ui.menu-navbar {
  border-radius: 0;
  min-height: 70px;
  height: 70px;
}


/***********************************
Card
************************************/
.card h1.ui.header {
  font-weight: bold;
  color: $gray;
}

/***********************************
Modal
************************************/
.ui.modals.dimmer {
  display: flex !important;
  background-color: $dimmer-background-color;
}

.ui.modal {
  margin-top: 0px !important;
}

.ui.modal > .close-modal {
  position: absolute;
  right: 16px;
  top: 23px;
  width: 34px;
  height: 34px;
  color: $dimmer-background-color;
  cursor: pointer;
}

@include media-breakpoint-up('sm') {
  .ui.medium.modal {
    width: 88%;
  }
}

@include media-breakpoint-up('md') {
  .ui.medium.modal {
    width: 580px;
  }
}

@include media-breakpoint-up('xl') {
  .ui.medium.modal {
    width: 604px;
  }
}

/***********************************
Tabs
************************************/
.tabs {

  .ui.menu {
    border-bottom: 1px solid #d8d8d8;
    margin: 1em 0;

    .item.active {
      color: #0c3855;
      border-bottom: 4px solid #4a90e2;
    }
  }

  .ui.tab {
    border: 0px;
    box-shadow: none;
  }

  @include media-breakpoint-only('xs') {
    .ui.tab {
      padding: 0;
    }
  }
}
