# Global project ignores:
.env
.idea
*.log
*.swp
out/

# Node.js Tools for Visual Studio
node_modules/

# Mac desktop services store files
.DS_Store

# Windows image file caches
Thumbs.db
ehthumbs.db
