env:
  - DOCKER_COMPOSE_VERSION=1.17.0 MOZ_HEADLESS=1

stages:
  - "Quality"
  - "Tests"
  - "Deploy"

matrix:
  allow_failures:
    - name: "Frontend Typechecking"

jobs:
  include:
    - stage: "Quality"
      name: "Frontend Linting"
      if: branch IN (develop, master) AND type = push
      language: node_js
      node_js: "8"
      cache:
        yarn: true
        directories:
          - source/SIL.AppBuilder.Portal.Frontend/node_modules

      script: ./run yarn && ./run yarn lint

    - stage: "Quality"
      name: "Frontend Typechecking"
      if: branch IN (develop, master) AND type = push
      language: node_js
      node_js: "8"
      cache:
        yarn: true
        directories:
          - source/SIL.AppBuilder.Portal.Frontend/node_modules

      script: ./run yarn && ./run yarn tsc --noEmit

    - stage: "Tests"
      name: "Frontend Tests"
      if: branch IN (develop, master) AND type = push
      addons:
        chrome: stable

      language: node_js
      node_js: "8"
      cache:
        yarn: true
        directories:
          - source/SIL.AppBuilder.Portal.Frontend/node_modules

      # TODO: upload coverage to somewhere
      script: COVERAGE=true ./run yarn && ./run yarn test:ci

    - stage: "Tests"
      name: "Backend Tests"
      if: branch IN (develop, master) AND type = push
      language: generic
      sudo: required
      services:
        - docker
      addons:
        apt:
          packages:
            - docker-ce
      before_install:
        # pip 10 is broken, I guess
        - >
          time (
            sudo pip install --upgrade --force-reinstall pip==9.0.3
            sudo pip install -U docker-compose
            sudo chmod +x /usr/local/bin/docker-compose
          )

      script:
        - echo "building docker containers..."
        - time ( ./run ci:build > /dev/null 2>&1 )
        - echo "docker containers built!"
        - echo "Running the backend commands..."
        - ( time ./run ci:api )

    - stage: "Deploy"
      name: "Build and Push Docker Images"
      #if: branch IN (develop, master) AND type = push
      language: generic
      sudo: required
      services:
        - docker
      addons:
        apt:
          packages:
            - docker-ce
      script:
        # must cleanup root owned files
        - sudo add-apt-repository ppa:deadsnakes/ppa -y
        - sudo apt-get -qqy update
        - sudo apt-get install -y python2.7
        - time ( sudo ./run clean:api )
        - time ./scripts/deploy-travis.sh $TRAVIS_COMMIT $TRAVIS_BRANCH $TRAVIS_COMMIT_RANGE
