@import '../../../../styles/_base/variables.scss';

.product-artifact {
  border: 1px solid $lighter-gray;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: $gray;

  .header {
    background-color: $ultra-ligthest-gray;
    padding: 17px 22px;
    font-size: 16px;
    font-weight: bold;
    font-family: Montserrat;
    border-bottom: 1px solid $lighter-gray;
  }

  .list {
    padding-top: 32px;

    .artifact-item {
      padding: 5px 22px;
      border-top: 1px solid $lighter-gray;

      .download {
        color: black;
        opacity: 0.33;
      }

      .column-header {
        font-family: Montserrat;
        font-size: 13px;
        font-weight: bold;
        line-height: 1.54;
        color: $gray;
        top: -35px;
        position: absolute;
      }
    }
  }
}