{
    "plugins": [
        ["wildcard", {
            "noModifyCase": true,
            "nostrip": true
        }],
        ["module-resolver", {
            "root": ["./src"],
            "alias": {
                "@store": ["./src/redux-store"],
                "@ui": ["./src/ui"],
                "tests": ["./tests"],
                "vendor": ["./src/vendor"]
            }
        }]
    ]
}
