{
    "plugins": [
        ["transform-inline-environment-variables", {
            "include": [
                "AUTH0_CONNECTION",
                "AUTH0_DOMAIN",
                "AUTH0_CLIENT_ID",
                "AUTH0_SCOPE"
            ]
        }],
        ["module-resolver", {
            "root": ["./src"],
            "alias": {
                "@store": ["./src/redux-store"],
                "@ui": ["./src/ui"],
                "@lib": ["./src/lib"],
                "@env": ["./src/env.ts"],
                "tests": ["./tests"],
                "vendor": ["./src/vendor"]
            }
        }]
    ]
}
