/.cache
/dist
/node_modules
tmp/
stats.json

/coverage
tests/coverage/
tests/cypress/screenshots/
tests/cypress/videos/
/test.results

src/public/assets/language/alltags.json
src/public/assets/language/**/ldml*
