@import '../../../../styles/_base/variables.scss';

.ui.modal.products-modal > .header {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.53;
  text-align: center;
  color: $gray;
  cursor: pointer;
}

.ui.modal.products-modal > .actions {
  text-align: center;
}