@import '../../../../styles/_base/variables.scss';

.ui.modal.products-modal > .header {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.53;
  text-align: center;
  color: $gray;
}

.ui.modal.products-modal > .actions {
  text-align: center;
}

.product-item {
  border-radius: 4px;
  border: 1px solid $light-gray;
  font-size: 13px;
  color: $light-gray;
  padding: 10px  5px 10px 22px;
  background-color: $ultra-ligthest-gray;

  .item-title {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.54;
    color: $gray;
    top: -55px;
    position: absolute;
  }

}