.profile {

  .title {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.53;
    color: #515151;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 0px;
    margin-bottom: 35px;
    border-bottom: 1px solid #d8d8d8;
  }

  h2 {
    font-family: Montserrat;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.19;
    color: #515151;
    margin-bottom: 24px;
  }

  .form-title {
    margin-top: 0px;
    margin-bottom: 35px;
  }

  .timezone {
    width: 100%;

    input {
      margin-bottom: 0px !important;
    }

    ul {
      z-index: 1000;
      max-width: 498px;
      font-size: 16px;
      line-height: 1.5;
      color: #515151;

      button {
        color: #515151;
        background: white;
      }
    }
  }

  .timezone-group {
    width: 498px;
    position: relative;

    i {
      position: absolute;
      right: 5px;
      top: 10px;
    }

    input {
      background: transparent !important;
    }
  }


  .text-center {
    text-align: center;
  }



  .upload-button {
    border-radius: 4px;
    border: solid 1px #4a90e2;
    background: transparent;
    color: #4a90e2;
    text-transform: uppercase;
  }

  .ui.form .field {
    input {
      margin-bottom:54px;
      max-width: 498px;
    }
  }

  .divider {
    margin: 72px 0px;
    height: 1px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 100%;
  }

  .toggle-selector {
    display: flex;
    align-items: center;

    span {
      font-family: Montserrat;
      font-size: 16px;
      margin-right: 10px;
      font-weight: bold;
      color: #515151;
    }
  }

  .form-button {
    width: 306px;
    height: 64px;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.19;
  }

}
