.ui.menu-navbar {
  background-color: #1C3258;
  border: none;

  .item {
    color: #FFF;
  }

  a.item:hover {
    color: #FFF;
  }

  .button {
    color: #FFF;
    background-color: transparent;
    border: 1px solid #FFF;
  }

  .avatar-dropdown {
    background-color: #FFF;
    border: 1px solid #FFF;
    border-radius: 50%;
    padding: 4px;

    .image {
      margin: 0;
    }
  }

  .notification-item {
    padding-left: 5px;
    padding-right: 5px;
  }

  .notification-dropdown {
    color: #ACB8C5;
  }

  .sidebar-item {
    padding-left: 0px;
  }
}