.project-switcher {
  font-family: Montserrat;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.19;
  color: #4a90e2 !important;
  display: flex !important;

  > .text {
    align-self: center;
  }

  > svg {
    align-self: center;
    margin-left: 10px;
    font-size: 2rem;
  }

  .menu {
    min-width: 200px !important;
    margin-top: 0 !important;

    .item {
      font-family: Montserrat;
      font-size: 16px !important;
    }
  }
}
