.menu-navbar {
  background-color: $deepBlue !important;
  border: none !important;

  .item {
    color: $white !important;
  }

  .button {
    color: $white !important;
    background-color: transparent;
    border: 1px solid $white;
  }

  .avatar-dropdown {
    background-color: $white;
    border: 1px solid $white;
    border-radius: 50%;
    padding: 4px;

    .image {
      margin: 0;
    }
  }

  .notification-item {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .notification-dropdown {
    color: $teal;
  }
}