.Toastify__toast--warning {
  color: white;
  font-weight: bold;
  background: #DEB333;
}

.Toastify__toast--success {
  color: white;
  font-weight: bold;
  background: #27CE5E;
}

.Toastify__toast--error {
  color: white;
  font-weight: bold;
  background: #FC5757;
}

.Toastify__toast--info {
  color: white;
  font-weight: bold;
  background: #19BAD7;
}
