@import '../../../../../styles/_base/variables.scss';
@import '../../../../../styles/vendor/bootstrap4/breakpoints.scss';

.ui.modal.products-modal > .header {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.53;
  text-align: center;
  color: $gray;
}

.ui.modal.products-modal > .actions {
  text-align: center;
}

@include media-breakpoint-only('xs') {
  .move-right {
    position: absolute;
    right: 2px;
    top: 16px;
  }
}
