.dateRange {
  position: relative;
  font-size: 11px;
  color: #0c3855;
  font-weight: bold;
  opacity: 0.8;

}


.input {
  svg {
    position: absolute !important;
    right: 0;
  }
}

.DayPickerInput {
  width: 100%;
  text-align: right;


  input {
    cursor: pointer;
    color: #515151;
    padding: 7px;
    border: 0;
  }
}
