.material-search-icon-in-field {
  cursor: default;
  position: absolute;
  line-height: 1;
  text-align: center;
  top: 3px;
  right: 0px;
  margin: 0px;
  height: 2rem !important;
  width: 2em !important;
  opacity: 0.5;
  border-radius: 0px 0.285714rem 0.285714rem 0px;
  transition: opacity 0.3s ease 0s;
}