@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl font-bold p-8;
}

h2 {
  @apply text-xl font-bold p-4;
}

h3 {
  @apply text-lg font-bold p-2;
}

.dropdown-content {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
a.link {
  color: #55f;
}
* {
  font-size: 15px;
}

._toastContainer {
  @apply toast toast-top toast-end;
}

._toastItem {
  /*!important is necessary to take precedence over svelte-toast's internal styling*/
  @apply bg-info !important;
  align-items: flex-start !important;
}

.success > ._toastItem {
  @apply bg-success !important;
}

.warning > ._toastItem {
  @apply bg-warning !important;
}

.error > ._toastItem {
  @apply bg-error !important;
}

._toastMsg {
  /* text-wrap might not work in older browsers... */
  @apply text-sm text-wrap;
}

._toastBtn {
  width: 10%;
  height: 100%;
  padding-top: 0.5rem;
}

._toastBtn::after {
  align-items: flex-start !important;
}

._toastBar {
  --toastBarBackground: #ffffffb0;
}
