@import 'tailwindcss';

@plugin 'daisyui' {
  themes:
    light --default,
    dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98.46% 0.0017 247.84);
  --color-base-300: oklch(86.48% 0.0099 252.82);
  --color-base-content: oklch(27.02% 0.0275 257.53);
  --color-primary: oklch(32.01% 0.0736 260.63);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(48.26% 0.0303 268.49);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(64.6% 0.1423 253.92);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(96.42% 0 0);
  --color-neutral-content: oklch(27.02% 0.0275 257.53);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
@plugin "daisyui/theme" {
  name: 'dark';
  default: false;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(32.01% 0.0736 260.63);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(48.26% 0.0303 268.49);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(51.71% 0.1678 264.26);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(37.74% 0.0226 261.23);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* These styles are in this layer so other utility styles can apply normally */
@layer utilities {
  h1 {
    /* text-2xl */
    font-size: var(--text-2xl) /* 1.5rem = 24px */;
    line-height: var(--tw-leading, var(--text-2xl--line-height) /* calc(2 / 1.5) ≈ 1.3333 */);
    /* font-bold */
    font-weight: var(--font-weight-bold) /* 700 */;
    /* p-8 */
    padding: calc(var(--spacing) * 8) /* 2rem = 32px */;
  }

  h2 {
    /* text-xl */
    font-size: var(--text-xl) /* 1.25rem = 20px */;
    line-height: var(--tw-leading, var(--text-xl--line-height) /* calc(1.75 / 1.25) ≈ 1.4 */);
    /* font-bold */
    font-weight: var(--font-weight-bold) /* 700 */;
    /* p-4 */
    padding: calc(var(--spacing) * 4) /* 1rem = 16px */;
  }

  h3 {
    /* text-lg */
    font-size: var(--text-lg) /* 1.25rem = 20px */;
    line-height: var(--tw-leading, var(--text-lg--line-height) /* calc(1.75 / 1.125) ≈ 1.5556 */);
    /* font-bold */
    font-weight: var(--font-weight-bold) /* 700 */;
    /* p-2 */
    padding: calc(var(--spacing) * 2) /* 0.5rem = 8px */;
  }
  * {
    font-size: 15px;
  }
}

.dropdown-content {
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}
a.link {
  color: #55f;
}
