.user-table {

  thead tr th {
    width: 25%;
  }

  tbody td {
    vertical-align: top;
  }

  .multiDropdown {
    box-sizing: border-box;
  }

  .multiDropdown .icon {
    display: none;
  }

  .multiDropdown:hover i {
    display: inline-block;
    position: absolute !important;
    right: 5px;
    top: 15px;

  }

  .multiDropdown:hover {
    border-bottom: 1px solid #50b4e5;
  }
}
