@mixin borderUtils($modifier) {

  .gray-border#{$modifier} {
    border: solid 2px $panel-border-color;
  }

  .thin-border#{$modifier} {
    border: 1px solid $border-color;
  }

  .page-heading-border#{$modifier} {
    border-bottom: 1px solid $border-color;
  }

  .thin-bottom-border#{$modifier} {
    border-bottom: 1px solid $border-color;
  }

  .round-border {
    border-radius: 50%;
  }

  .round-border-4 {
    border-radius: 4px;
  }

  .round-border-8 {
    border-radius: 8px;
  }

  @each $position in $positions {
    $posKey: nth($position, 1);
    $posValue: nth($position, 2);

    .border-#{$posValue}-dark#{$modifier} {
      border-#{$posValue}: 1px solid $border-color-dark;
    }

    .border-#{$posValue}#{$modifier} {
      border-#{$posValue}: 1px solid $border-color;
    }
  }

  .no-borders#{$modifier} {
    border: none !important;
  }
}



@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    @include borderUtils('-#{$breakpoint}');
  }

  @include media-breakpoint-only($breakpoint) {
    @include borderUtils('-#{$breakpoint}-only');
  }
}

@include borderUtils('');
