.black-text {
  color: black;
}

.red-text {
  color: darken($error-color, 30%);
}

.white-text {
  color: white;
}

.dark-blue-text {
  color: $blue-dark !important;
}

.blue-highlight {
  color: $blue-highlight;
}

.gray-text {
  color: $gray;
}

.light-gray-text {
  color: $light-gray;
}

a.white-text {
  &:hover {
    color: darken(white, 30%);
  }
}

.bg-lighter-gray {
  background: $lighter-gray;
}

.bg-lightest-gray {
  background: $lightest-gray;
}

.bg-blue {
  background: $blue;
}
.bg-white {
  background: $white !important;
}

.bg-default {
  background: $background;
}

.bg-transparent {
  background: transparent !important;
}
