.black-text {
  color: black;
}

.white-text {
  color: white;
}

.gray-text {
  color: $gray;
}

a.white-text {
  &:hover {
    color: darken(white, 30%);
  }
}

.bg-lightest-gray {
  background: $lightest-gray;
}

.bg-blue {
  background: $blue;
}
.bg-white {
  background: $white;
}

.bg-default {
  background: $background;
}
