.black-text {
  color: black;
}

.white-text {
  color: white;
}

.dark-blue-text {
  color: $blue-dark;
}

.blue-highlight {
  color: $blue-highlight;
}

.gray-text {
  color: $gray;
}

a.white-text {
  &:hover {
    color: darken(white, 30%);
  }
}

.bg-lighter-gray {
  background: $lighter-gray;
}

.bg-lightest-gray {
  background: $lightest-gray;
}

.bg-blue {
  background: $blue;
}
.bg-white {
  background: $white !important;
}

.bg-default {
  background: $background;
}
