@mixin flexUtils($modifier) {
  .flex-row#{$modifier} {
    display: flex !important;
    flex-direction: row;
  }

  .flex-column#{$modifier} {
    display: flex !important;
    flex-direction: column;
  }

  .flex-column-reverse#{$modifier} {
    display: flex !important;
    flex-direction: column-reverse;
  }

  @for $i from 0 through 20 {
    $basis: $i * 5;

    .flex-#{$basis}#{$modifier} {
      flex-basis: percentage($basis);
    }
  }

  .flex-grow#{$modifier} { flex-grow: 1; }
  .flex#{$modifier} { display: flex; }

  .align-items-start#{$modifier} { align-items: flex-start; }
  .align-items-end#{$modifier} { align-items: flex-end; }
  .align-items-center#{$modifier} { align-items: center; }
  .align-items-stretch#{$modifier} { align-items: stretch; }
  .align-items-baseline#{$modifier} { align-items: baseline; }
  .justify-content-start#{$modifier} { justify-content: flex-start; }
  .justify-content-end#{$modifier} { justify-content: flex-end; }
  .justify-content-center#{$modifier} { justify-content: center; }
  .justify-content-space-between#{$modifier} { justify-content: space-between; }
  .justify-content-space-around#{$modifier} { justify-content: space-around; }
  .justify-content-space-evenly#{$modifier} { justify-content: space-evenly; }

}

// generates the above with the following modifications / breakpoints:
//  - xs
//  - sm
//  - md
//  - lg
//  - xl
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $modifier: '-#{$breakpoint}';

    @include flexUtils($modifier);
  }

  @include media-breakpoint-only($breakpoint) {
    @include flexUtils('-#{$breakpoint}-only');
  }
}

@include flexUtils('');
