.image-fill-container {
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;

    &.round {
      border-radius:50%;
    }

    &.header-icon {
      width: 42px;
      height: 42px;
    }
  }
}

.list-thumbnail {
  width: 32px;
  height: 32px;
  background: $border-color;
}
