@mixin spacingUtils($modifier) {
  @each $size in $sizes {
      $sizeKey: nth($size, 1);
      $sizeValue: nth($size, 2);

      .#{$marginKey}#{$separator}#{$sizeKey}#{$modifier} {
          margin: sizeValue($sizeKey, $sizeValue) !important;
      }
      .#{$paddingKey}#{$separator}#{$sizeKey}#{$modifier} {
          padding: sizeValue($sizeKey, $sizeValue) !important;
      }

      @each $position in $positions {
          $posKey: nth($position, 1);
          $posValue: nth($position, 2);

          .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey}#{$modifier} {
              margin-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
          }
          .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey}#{$modifier} {
              padding-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
          }
      }
  }


  .no-magins#{$modifier} {
    margin: 0 !important;
  }

}


@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    @include spacingUtils('-#{$breakpoint}');
  }

  @include media-breakpoint-only($breakpoint) {
    @include spacingUtils('-#{$breakpoint}-only');
  }
}

@include spacingUtils('');

.p-l-xxs {
  padding-left: 0.3rem;
}
