.bold {
  font-weight: bold !important;
}

.font-normal {
  font-weight: normal !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase !important;
}

.page-heading {
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.sub-page-heading {
  font-weight: bold;
  margin-bottom: 2rem;
}

.input-info {
  font-weight: 300;
  line-height: 1.54;
  color: $gray;
}

.fs-11 {
  font-size: 11px !important;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-21 {
  font-size: 21px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.line-height-0 {
  line-height: 0;
}

.text-align-right {
  text-align: right;
}
