.bold {
  font-weight: bold;
}

.font-normal {
  font-weight: normal;
}

.uppercase {
  text-transform: uppercase;
}

.page-heading {
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.sub-page-heading {
  font-weight: bold;
  margin-bottom: 2rem;
}

.input-info {
  font-weight: 300;
  line-height: 1.54;
  color: $gray;
}
