<RuleSet 
  Name="Rules for Hello World project" 
  Description="These rules focus on critical issues for the Hello World app." 
  ToolsVersion="10.0"
>
  <Localization 
    ResourceAssembly="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.dll" 
    ResourceBaseName="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.Localized"
  >
    <Name Resource="Styles for Scriptoria" />
    <Description Resource="Styles for Scriptoria" />
  </Localization>
  
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1001" Action="Warning" />
    <Rule Id="CA1009" Action="Warning" />
    <Rule Id="CA1016" Action="Warning" />
    <Rule Id="CA1033" Action="Warning" />
  </Rules>

  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1802" Action="Error" />
    <Rule Id="CA1814" Action="Info" />
    <Rule Id="CA1823" Action="None" />
    <Rule Id="CA2217" Action="Warning" />

    <!-- Documentation -->
    <Rule Id="SA1652" Action="None" />
    <Rule Id="SA1633" Action="None" />

  </Rules>

  <Rules AnalyzerId="xunit.analyzers" RuleNamespace="xunit.analyzers">

    <!-- TODO: -->
    <Rule Id="xUnit2013" Action="None" />
    <Rule Id="xUnit2000" Action="None" />
  </Rules>

</RuleSet>