volumes:
  postgres-data:
  valkey-data:

services:
  db:
    image: postgres:10
    environment:
      POSTGRES_DB: development
      POSTGRES_USER: db-user
      POSTGRES_PASSWORD: 1234
      PGDATA: /var/lib/postgresql/data
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  # Debugging database
  adminer:
    image: adminer
    restart: always
    ports:
      # Host:Container
      - "18080:8080"

  svelte-ui:
    depends_on:
      - valkey
      - db
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "6173:6173"
    env_file: .env
    environment:
      DATABASE_URL: "postgresql://db-user:1234@db:5432/development?schema=public"
      # MUST be included (the path the application will be accessed on) and MUST NOT have a trailing slash
      ORIGIN: "http://localhost:6173"

  valkey:
    image: valkey/valkey:latest
    ports:
      - "6379:6379"
    command: valkey-server --appendonly yes --appendfilename appendonly.aof --maxmemory-policy noeviction
    volumes:
      - valkey-data:/data

  stg-tunnel:
    build:
      context: ./deployment/development
      dockerfile: Dockerfile.stg-tunnel
    ports:
      - "8443:8443"
    # yikes
    command: bash -c "cp -r /root/ssh /root/.ssh; chmod -R 600 /root/.ssh; ssh -N -L \*:8443:localhost:\$(ssh aps-stg \"docker ps --format '{{.Names}} {{.Ports}}' | grep -E 'buildengine.*web' | awk -F '->' '{print \\$1}' | awk -F ':' '{print \\$2}'\") aps-stg"
    volumes:
      - ~/.ssh:/root/ssh
