$sizeUnit: rem;
$marginKey: 'm';
$paddingKey: 'p';
$separator: '-';
$sizes: (
    ('none', 0),
    ('xxs', 0.125),
    ('xs', 0.25),
    ('sm', 0.5),
    ('md', 1),
    ('lg', 2),
    ('xl', 4),
    ('xxl', 8),
);
$positions: (
    ('t', 'top'),
    ('r', 'right'),
    ('b', 'bottom'),
    ('l', 'left')
);

$blue: #0068a6;
$white: #fff;
$gray: #515151;

$background: $white;
$primary: $blue;
$text: $gray;

$input-border-color: rgba(0, 0, 0, 0.12);
$input-border-width: 2px;
$input-placeholder-color: $gray;
