$sizeUnit: rem;
$marginKey: 'm';
$paddingKey: 'p';
$separator: '-';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$sizes: (
  ('none', 0),
  ('xxs', 0.125),
  ('xs', 0.25),
  ('sm', 0.5),
  ('md', 1),
  ('lg', 2),
  ('xl', 4),
  ('xxl', 8),
);
$positions: (
  ('t', 'top'),
  ('r', 'right'),
  ('b', 'bottom'),
  ('l', 'left')
);

$blue: #0068a6;
$blue-dark: #0c3855;
$blue-highlight: #4a90e2;

$white: #fff;
$gray-dark: #4a4a4a;
$gray: #515151;
$alert: #ff4949;
$light-gray: #9b9b9b;
$lighter-gray: #e9e9e9;
$lighterer-gray: #f3f3f3;
$lightest-gray: #f7f7f7;
$ultra-ligthest-gray: #fcfcfc;

$border-color-dark: #979797;
$border-color: #d8d8d8;
$border-light-color: $lighter-gray;
$panel-border-color: $border-color;

$background: $white;
$primary: $blue;
$text: $gray;
$navigation-text: $light-gray;
$link-color: $blue-highlight;

$error-color: $alert;
$error-text: $white;
$button-background-color: $blue-dark;
$input-border-color: rgba(0, 0, 0, 0.12);
$checkbox-background-color: rgba(0,0,0,0.26);
$dimmer-background-color: rgba(74, 74, 74, 0.33);
$input-border-width: 2px;
$input-placeholder-color: $gray;

$dropdown-header-background: $lighterer-gray;
