name: Scriptoria v2 Test and Deploy

on:
  push:
  workflow_dispatch:

env:
  PORTAL_BUILD_TAG: 'scriptoria-portal:${{ github.run_number }}'
  OTEL_BUILD_TAG: 'scriptoria-otel:${{ github.run_number }}'
  BUILD_NUMBER: ${{ github.run_number }}

jobs:
  check:
    uses: ./.github/workflows/setup.yml
    secrets:
      BUILD_ENGINE_TOKEN: ${{ secrets.BUILD_ENGINE_TOKEN }}
      AUTH0_CLIENT_SECRET: ${{ secrets.AUTH0_CLIENT_SECRET }}
      AUTH0_SECRET: ${{ secrets.AUTH0_SECRET }}
      CI_PASSWORD: ${{ secrets.CI_PASSWORD }}
      AWS_EMAIL_ACCESS_KEY_ID: ${{ secrets.AWS_EMAIL_ACCESS_KEY_ID }}
      AWS_EMAIL_SECRET_ACCESS_KEY: ${{ secrets.AWS_EMAIL_SECRET_ACCESS_KEY }}
  # Deploy to ECR and ECS
  deploy-to-ecr:
    runs-on: ubuntu-latest
    needs: check
    if: ${{ success() && (github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/master') }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup node
        uses: actions/setup-node@v5
        with:
          node-version: 24

      - name: Configure AWS credentials (SIL)
        id: aws_sil
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.DEPLOY__AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.DEPLOY__AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.DEPLOY__AWS_DEFAULT_REGION }}

      - name: Login to AWS ECR (SIL)
        id: ecr_sil
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registries: ${{ secrets.DEPLOY__AWS_ECR_ACCOUNT }}

      - name: Build deployment target variables
        id: vars
        run: |
          echo "Setting up deployment variables..."
          echo "IMAGE_URL=${{ secrets.DEPLOY__AWS_ECR_ACCOUNT }}.dkr.ecr.${{ secrets.DEPLOY__AWS_DEFAULT_REGION }}.amazonaws.com/appbuilder-portal-origin" >> $GITHUB_OUTPUT
          echo "OTEL_URL=${{ secrets.DEPLOY__AWS_ECR_ACCOUNT }}.dkr.ecr.${{ secrets.DEPLOY__AWS_DEFAULT_REGION }}.amazonaws.com/otel-collector" >> $GITHUB_OUTPUT
          [[ "${{ github.ref }}" == "refs/heads/master" ]] && echo "DEPLOY_LEVEL=production" >> $GITHUB_OUTPUT || echo "DEPLOY_LEVEL=staging" >> $GITHUB_OUTPUT
          [[ "${{ github.ref }}" == "refs/heads/master" ]] && echo "ECS_CLUSTER=scriptoria-prd" >> $GITHUB_OUTPUT || echo "ECS_CLUSTER=scriptoria-stg" >> $GITHUB_OUTPUT

      - name: Build Docker images
        run: |
          echo "Building Docker images..."
          docker build -t ${{ env.PORTAL_BUILD_TAG}} .
          docker build -t ${{ env.OTEL_BUILD_TAG}} -f Dockerfile.otel .
          echo "Docker images built successfully."
          docker tag ${{ env.PORTAL_BUILD_TAG}} ${{ steps.vars.outputs.IMAGE_URL }}:${{ steps.vars.outputs.DEPLOY_LEVEL }}
          docker tag ${{ env.PORTAL_BUILD_TAG}} ${{ steps.vars.outputs.IMAGE_URL }}:${{ env.BUILD_NUMBER }}
          docker tag ${{ env.OTEL_BUILD_TAG}} ${{ steps.vars.outputs.OTEL_URL }}:${{ steps.vars.outputs.DEPLOY_LEVEL }}
          docker tag ${{ env.OTEL_BUILD_TAG}} ${{ steps.vars.outputs.OTEL_URL }}:${{ env.BUILD_NUMBER }}
          echo "Docker images tagged as ${{ steps.vars.outputs.DEPLOY_LEVEL }} and ${{ env.BUILD_NUMBER }}"

      - name: Push Docker image to ECR
        run: |
          echo "Pushing Docker image to ECR..."
          docker push ${{ steps.vars.outputs.IMAGE_URL }}:${{ steps.vars.outputs.DEPLOY_LEVEL }}
          docker push ${{ steps.vars.outputs.IMAGE_URL }}:${{ env.BUILD_NUMBER }}
          docker push ${{ steps.vars.outputs.OTEL_URL }}:${{ steps.vars.outputs.DEPLOY_LEVEL }}
          docker push ${{ steps.vars.outputs.OTEL_URL }}:${{ env.BUILD_NUMBER }}
          echo "Docker images pushed successfully to ${{ steps.vars.outputs.IMAGE_URL }}"

      - name: Deploy to ECS
        run: |
          echo "Installing ecs-deploy script..."
          mkdir -p $HOME/.local/bin
          curl -o $HOME/.local/bin/ecs-deploy https://raw.githubusercontent.com/silinternational/ecs-deploy/master/ecs-deploy
          chmod +x $HOME/.local/bin/ecs-deploy
          echo "Deploying ${{ env.BUILD_NUMBER }} to ${{ steps.vars.outputs.ECS_CLUSTER }}..."
          # Deploy the ECS cluster with service name 'portal', setting all images to the latest tag
          ecs-deploy -c ${{ steps.vars.outputs.ECS_CLUSTER }} -n portal -i ignore -to ${{ env.BUILD_NUMBER }} --max-definitions 20 --timeout 600
          echo "Deployment initiated successfully."
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.DEPLOY__AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.DEPLOY__AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.DEPLOY__AWS_DEFAULT_REGION }}
